<div  ng-controller="AddeventCtrl" layout="column" ng-cloak class="md-inline-form">
  <md-content layout-padding class="col-sm-12 col-md-6 col-md-offset-3 md-whiteframe-12dp" style="margin-top:50px">
<div>
	<form name="addEvent" layout-gt-sm="column">
	<md-input-container class="md-block">
	<label for="eventName">Name of Event</label>
		<input type="text" id="eventName" ng-model="eventName" required>
	</md-input-container>
	<div layout-gt-sm="row" layout-align="center">
	<md-input-container class="md-block" >
	<label for="startDate">Starts</label>
		<input type="datetime-local" id="startDate" ng-model="startDateTime" required>
	</md-input-container>
	<md-input-container class="md-block">
	<label for="endDate">Ends</label>
		<input type="datetime-local" id="endDate" ng-model="endDateTime" required>
	</md-input-container>
	</div>
	<md-input-container class="md-block">
	<label for="location">Place</label>
		<input type="text" id="location" ng-model="location" required>
	</md-input-container>
	<md-input-container class="md-block">
	<label for="eventTheme">Theme</label>
		<input type="text" id="eventTheme" ng-model="eventTheme" required>
	</md-input-container>
	<md-input-container class="md-block">
	<label for="guestList">Guests</label>
		<input type="text" id="guestList" ng-model="guestList" required>
	</md-input-container>
	<md-button class="md-accent md-raised md-hue-1" ng-click="uploadEvent()">Upload Event</md-button>		
	</form>
</div>
</md-content>
</div>
