<div ng-controller="LoginCtrl" layout="column" ng-cloak class="md-inline-form" class="container-fluid" class="backgroundStyle">
  <md-content layout-padding class="col-sm-12 col-md-4 col-md-offset-4 md-whiteframe-12dp" style="margin-top:50px">
    <div>
      <h1><center>Meetup Event Planner<center></h1>
      <form name="regForm" id="regForm" autocomplete="on">
        <div layout-gt-sm="column">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Full Name</label>
            <input type="text"  ng-model="newUserFullname" name="newUserFullname" required minlength="3" maxlength="35">
          </md-input-container>
          <div  class="errorMessage" ng-messages="regForm.newUserFullname.$error" role="alert" ng-if="regForm.newUserFullname.$dirty">
              <span ng-message="required">Name cannot be empty.</span>
              <span ng-message="minlength">Name must contain atleast three characters.</span>
              <span ng-message="maxlength">Too long name. Please enter first and last name only</span>
            </div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="newUserEmail" name="newUserEmail" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          </md-input-container>
           <div class="errorMessage" ng-messages="regForm.newUserEmail.$error" role="alert" ng-if="regForm.newUserEmail.$dirty">
              <span ng-message="required">Email cannot be left empty.</span>
              <span ng-message="pattern">Enter a valid email address</span>
            </div>
          <md-input-container class="md-block" flex-gt-sm >
            <label>Password</label>
            <input type="password" ng-model="newUserPassword" name="newUserPassword" required minlength="8" maxlength="16">
          </md-input-container>
          <div class="errorMessage" ng-messages="regForm.newUserPassword.$error" role="alert" ng-if="regForm.newUserPassword.$dirty">
            <span ng-message="required">Password cannot be left empty.</span>
            <span ng-message="minlength">Too short password. Use atleast 8 characters</span>
            <span ng-message="maxlength">Too long password. Use 8 -16 characters</span>
          </div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Confirm Password</label>
            <input type="password" name="confirm" ng-model="confirm" required>
          </md-input-container>
          <div class="errorMessage">
             <span ng-if="confirm!=newUserPassword&&regForm.confirm.$dirty">Passwords not matching</span>
          </div>
        <md-button ng-disabled="!newUserPassword||!newUserFullname||!newUserEmail||!confirm||confirm!=newUserPassword" class="md-accent md-raised LoginFormStyling" ng-click="registerUser()">Register Me</md-button>
        </div>
        <span class="LoginFormStyling">
        Already Registered?<a id="showLoginForm"><md-button class="md-primary LoginFormStyling">Login Now</md-button></a>
        </span>
      </form>
      <form name="loginForm" id="loginForm" autocomplete="on">
        <div layout-gt-sm="column">
          <md-input-container class="md-block" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="activeUserEmail" name="activeUserEmail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
          </md-input-container>
          <div class="errorMessage" ng-messages="loginForm.activeUserEmail.$error" role="alert" ng-if="loginForm.activeUserEmail.$dirty">
              <span ng-message="required">Email cannot be left empty.</span>
              <span ng-message="pattern">Enter a valid email address</span>
          </div>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="activeUserPassword" name="activeUserPassword" required>
          </md-input-container>
          <div class="errorMessage" ng-messages="loginForm.activeUserPassword.$error" role="alert" ng-if="loginForm.activeUserPassword.$dirty">
            <span ng-message="required">Password cannot be left empty.</span>
          </div>
        <md-button class="md-accent md-raised LoginFormStyling" ng-disabled="!activeUserEmail||!activeUserPassword" ng-click="loginUser()">Let Me In</md-button>
        </div>
        <span class="LoginFormStyling">
        Not Registered?<a id="showRegForm"><md-button class="md-primary LoginFormStyling">Register Now</md-button></a>
        </span>
      </form>
    </div>
  </md-content>
</div>

<script>
  $("document").ready(function(){
    $("#regForm").hide();
  });

  $("#showRegForm").click(function(){
    $("#loginForm").slideToggle();
    $("#regForm").slideToggle();
    
  });

  $("#showLoginForm").click(function(){
    $("#loginForm").slideToggle();
    $("#regForm").slideToggle();
  });
  
</script>